* {
	font-family: 'Roboto', sans-serif;
}

/* Promo */

header {
	position: relative;
}

nav {
	height: 50px;
	background-color: #212121;
}

.menu {
	padding: 13px 70px;
	margin: 0;
	list-style: none;

	display: flex;
	justify-content: space-between;
}

.menu__item {
	border-right: 2px dotted rgb(15, 15, 15);
	padding-right: 33px;
}

.menu__link {
	font-size: 15px;
	color: #fff;
	font-weight: 300;
}

.subheader {
	position: absolute;
	width: 100%;
	height: 84px;
	background-color:rgba(0, 0, 0, .6);
}

.logo__wrap {
	margin: 16px 0;
}

.logo__img {
	min-width: 100%;
}

.logo__descr {
	font-size: 13px;
	color: #fff;
	opacity: 0.5;
}

.subheader__call {
	font-size: 12px;
	color: #fff;
	opacity: 0.8;

	margin-top: 23px;
	text-align: center;
}

.subheader__phone {
	display: block;
	margin-top: 8px;

	font-size: 22px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	text-align: center;
	line-height: 12px;

}

.subheader__btn{
	box-shadow: inset 0 0 rgba(0,0,0,.3);
	border: none;
	border-radius: 5px;
	background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
	width: 172px;
	height: 46px;
	
	margin: 20px 0;

	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,.15);
}



.promo {
	min-height: 800px;
	background: url(../img/background/bg1.jpg) center center/cover no-repeat;
	padding: 150px 0 135px 0;
}

.promo__header{
	text-align: center;

	font-size: 60px;
	font-weight: 700;
	color: #fff;
	line-height: 60px;
	margin: 0;
	
}

.promo__subheader {
	text-align: center;

	font-size: 36px;
	font-weight: 700;
	color: #fff;
	line-height: 36px;
	margin-top: 21px;
}

.promo__text {
	text-align: center;

	font-size: 18px;
	font-weight: 400;
	color: #fff;
	line-height: 24px;
	
	margin-top: 23px;
}

.promo__btn{
	box-shadow: inset 0 0 rgba(0,0,0,.3);
	border: none;
	border-radius: 5px;
	background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
	width: 269px;
	height: 73px;
	
	display: block;
	margin: 117px auto 0 auto;

	font-weight: 400;
	font-size: 19px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,.15);
}

/* Reasons */

.reasons {
	margin: 70px 0;
	position: relative;
}

.label {
	display: inline-block ;
	background-color:black;
	color: rgba(255, 255, 255, 0.7);
	text-transform: uppercase;


	
	padding: 8px 12px;
	margin: 0 500px;
	
}

.title {
	font-size: 38px;
	font-weight: bold;
	text-transform: uppercase;
	color: #222;

	text-align: center;
	margin-top: 37px;
}

.reasons__block {
	padding: 0;
	display: flex;
	margin: 15px 30px;
	justify-content: space-between;

}

.reasons__round {
	width: 113px;
	height: 113px;
	border-radius: 56px 57px 57px 56px/56px 56px 57px 57px;
	background-color: #1eacc7;

	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;

	margin-right: 26px;
}

.reasons__subtitle {
	font-size: 17px;
	color: #1eacc7;
}

/* oportunities */

.subtitle {
	text-align: center;
	font-size: 17px;
	margin-top: 19px;
}

